{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        <section class="vh-50 bg-image mt-5 mb-5">
            <div class="mask d-flex align-items-center gradient-custom-3">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body p-5">
                                    <h2 class="text-center mb-5">Добавление нового продукта</h2>
                                    <div class="alert alert-danger d-none" role="alert"></div>
                                    <div class="alert alert-success d-none" role="alert"></div>
                                    <form action='{% url 'product_ajax' %}' method="post" enctype="multipart/form-data"
                                          id="product_ajax" data-bs-target="#product_ajax">
{#                                        {{ product_ajax }}#}
                                        {% csrf_token %}

                                        <fieldset>
                                            <div class="form-group ">
                                                <label for="" class="form-label mb-2">Фотография(и) продукта</label>
                                                <input name="uploaded_images" type="file" id="uploaded_images"
                                                       accept="image/png,image/jpeg, image/img"
                                                       class="form-control mb-3"
                                                       multiple="multiple"/>
                                            </div>
                                        </fieldset>
                                        <div class="form-group has-error">
                                            <label>Название продукта</label>
                                            <input name="title" class="form-control" type="text" value="">
                                        </div>
                                        <div class="form-group ">
                                            <label>Цена продукта</label>
                                            <input name="price" class="form-control" type="number" value="">
                                        </div>
                                        <div type="hidden" class="form-group has-error">
                                            <select hidden="hidden" class="form-control" name="owner">
                                                <option type="hidden" value="{{ user.id }}">a@a.com</option>
                                            </select>
                                        </div>
                                        <input type="submit" value="save" class="text-center btn-warning" id="product_ajax_sub">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section class="vh-50 bg-image mt-5 mb-5">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-50">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body p-5">
                                    <h2 class="text-center mb-5">Добавление нового продукта</h2>
                                    <h2 class="text-center mb-5">
                                        Только авторизованный пользователь может добавить товар. перенаправление на
                                        страницу
                                        входа.</h2>
                                    <meta http-equiv="refresh"
                                          content="3; URL={% url 'login' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}
<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
<script src="{% static 'ajax_forms.js' %}"></script>

